# Python environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Local data / user patterns (Now included so you can sync between devices)
# data/*.txt
# !data/sample_shoe_1.txt
